/* YOUR CUSTOM CSS */
:root {
  --primary: #74d1c6;
  --secondary: #3f4079;
  --pink: #e74e84;
}
.modal-backdrop.show{
  --bs-backdrop-opacity: 0.9;
}

@media screen and (min-width: 1600px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl .container-xxxl {
    max-width: 1536px;
  }
}

@media screen and (min-width: 992px) {
  .navbar-cstm-bg.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: 60vw;
  }
}

.txt-primary {
  color: var(--primary);
}

.txt-secondary {
  color: var(--secondary);
}

.btn_outline_2 {
  background-color: #fff;
  border-color: var(--secondary);
  color: var(--secondary);
}

.btn_outline_2:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: #fff;
}

.btn_2 {
  background-color: #3f4079ea;
  border-color: var(--secondary);
  color: #fff;
}

.btn_2:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: #fff;
}

.btn_pink {
  background-color: var(--pink);
  border-color: var(--pink);
  color: #fff;
}

.btn_pink:hover {
  background-color: #dd2666;
  border-color: var(--pink);
  color: #ffffff;
}

.btn_outline_pink {
  background: #fff;
  border: 2px solid #e74e84;
  color: #e74e84;
  padding: 5px 20px;
  font-weight: 500;
  line-height: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

.btn_outline_pink:hover {
  background: #e74e84;
  color: #fff;
}

.navbar-cstm-bg {
  background-color: var(--secondary);
  text-transform: capitalize;
}

.login-dropdown .dropdown-menu {
  width: 300px;
}

header .navigation-bg .main-menu>ul>li>a:hover,
ul#top_access li a:hover {
  color: #e74e84;
}

ul.mega-menu {
  max-width: 70vw;
  width: 100%;
}

ul.mega-menu .menu-item-card {
  transition: all 0.4s;
  background-color: #ffffff;
  border-color: rgba(231, 78, 132, 0.1);
}

ul.mega-menu .menu-item-card:hover {
  background-color: rgba(231, 78, 132, 0.1);
}

.login-dropdown .dropdown-menu {
  width: 300px;
}

ul#top_access li.login-dropdown .dropdown-menu a.forgot {
  color: var(--pink);
}

/* header end  */

.nav-tabs .nav-link {
  color: #767676;
}

.nav-tabs .category-title {
  background-color: var(--secondary);
  color: #fff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--pink);
}

.doctor-page #results {
  color: #fff;
  background: var(--pink);
}

.strip_list a.btn {
  color: #fff;
  background: var(--secondary);
  border: 2px solid var(--secondary);
  cursor: pointer;
  padding: 7px 20px;
  display: inline-block;
  outline: none;
  font-size: 0.875rem;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.strip_list a.btn:hover {
  color: var(--secondary);
  background: transparent;
}

/* .doctor-page .strip_list ul li:first-child {
  display: block;
} */


.doctor-page .nav-tabs .nav-link.active {
  border: none;
  background-color: transparent;
}

.doctor-page .dropdown-toggle {
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #e1e8ed;
  height: 32px;
  color: var(--secondary);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.patient-detail-modal form label.service-for {
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  background-color: #fff;
}

.blogs-section .blog-wraper {
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.6s;
  display: block;
}

.blogs-section .blog-wraper .blog-content-wrraper {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -15%);
  padding: 15px;
  padding-right: 50px;
}

.blogs-section .blog-wraper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition: all 0.6s;
}

.blogs-section .blog-wraper:hover img {
  transform: scale(1.03);
}

.content-section .image-wrraper {
  max-width: 250px;
  max-height: 250px;
  border: 5px solid #ddd;
  overflow: hidden;
}

.content-section .image-wrraper img {
  width: 100%;
}

.nav-tabs .nav-link.txt-secondary.active {
  color: var(--primary);
}

#breadcrumb {
  background-color: #efefef;
  color: #000;
}

#breadcrumb ul li a {
  color: var(--pink);
}

.list-group .list-group-item {
  background-color: transparent;
  border: 0;
}


/* my_account-page */
.my_account-page .nav.nav-pills .nav-link {
  background-color: #fff;
  color: var(--secondary);
  box-shadow: 0 0 3px #ddd;
  padding: 15px 8px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.my_account-page .nav.nav-pills .nav-link.active {
  color: #fff;
  background-color: var(--secondary);
}

.add-member .member-img-wraper {
  width: 120px;
}

.add-member-modal label.btn-outline-primary,
.add-member-modal label.btn-outline-primary:hover {
  border-color: var(--pink);
  color: var(--pink);
}

.add-member-modal .btn-check:checked+.btn {
  background-color: var(--pink);
  color: #fff;
  border-color: var(--pink);
}

form .error-message {
  font-size: 12px;
  text-align: center;
}

.dropdown-toggle::after {
  color: #fff;
}

.bg-verticle-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(116, 209, 198, 1) 100%);
}

.confused-help-offcanvas .offcanvas-confused-btn {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 0;
  top: 70%;
  z-index: 9999;
}

.confused-help-offcanvas .offcanvas.offcanvas-end {
  width: 100%;
  height: 500px;
  right: 0%;
  top: 50%;
  transform: translate(100%, -50%);
}

.confused-help-offcanvas .offcanvas.show:not(.hiding),
.confused-help-offcanvas .offcanvas.showing {
  transform: translate(0%, -50%);
}

.footer-cta {
  bottom: 0vh;
  left: 50%;
  width: 100%;
  z-index: 2;
}

.nav-item.dropdown-mega .nav-pills .nav-link {
  cursor: pointer;
  color: var(--secondary);
  font-weight: 600;
}

.nav-item.dropdown-mega .nav-pills .nav-link.active {
  background-color: transparent;
  color: var(--pink);
  text-decoration: underline;
}

.nav-item.dropdown-mega ul li {
  padding: 4px 6px;
}

.nav-item.dropdown-mega ul {
  padding-left: 30px;
  list-style-type: disclosure-closed;
}

.nav-item.dropdown-mega ul li a {
  color: #000;
}

.nav-item.dropdown-mega ul li a:active,
.nav-item.dropdown-mega ul li a:hover {
  color: var(--pink);
  text-decoration: underline;
}

footer .input-group .btn {
  z-index: 0;
}

/* OTP inputs  */
#otp.inputs input {
  width: 40px;
}

#otp input[type=number]::-webkit-inner-spin-button,
#otp input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0
}
/* OTP inputs  end*/
.box_list.doctor-card{
  padding-bottom: 85px;
}


@media screen and (max-width: 768px) {
  #scroll-triggered-cta {
    position: relative !important;
    transform: translate(0px, 0px) !important;
    left: auto;
    margin: 15px 0;
  }

  #scroll-triggered-cta .rounded-pill {
    border-radius: 10px !important;
  }

  .nav-item.dropdown-mega .nav-pills .nav-link,
  .nav-item.dropdown-mega ul li a {
    font-size: 12px;
  }

  .nav-item.dropdown-mega ul li h5.txt-primary {
    font-size: 14px;
  }

  .nav-item.dropdown-mega ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  .nav-item.dropdown-mega ul li {
    padding: 4px 6px 4px 20px;
    position: relative;
  }

  .nav-item.dropdown-mega ul li::before {
    content: "";
    left: 4px;
    top: 10px;
    position: absolute;
    border-top: 5px solid transparent;
    border-left: 10px solid #6c6c6c;
    border-bottom: 5px solid transparent;
  }
}

@media screen and (max-width: 575px) {
  .add-member .member-img-wraper {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {}