/* YOUR CUSTOM CSS */
:root {
  --primary: #74d1c6;
  --secondary: #3f4079;
  --pink: #e74e84;
}

.navbar-cstm-bg {
  background-color: var(--secondary);
  text-transform: capitalize;
}

.login-dropdown .dropdown-menu {
  width: 300px;
}

@media (min-width: 992px) {
  .navbar-cstm-bg.navbar-expand-lg .navbar-nav .dropdown-menu {
      width: 50vw;
  }
}

header .navigation-bg .main-menu>ul>li>a:hover,
ul#top_access li a:hover {
  color: #e74e84;
}

ul.mega-menu {
  width: 70vw;
}

ul.mega-menu .menu-item-card {
  transition: all 0.4s;
  background-color: #ffffff;
  border-color: rgba(231, 78, 132, 0.1);
}

ul.mega-menu .menu-item-card:hover {
  background-color: rgba(231, 78, 132, 0.1);
}

.login-dropdown .dropdown-menu {
  width: 300px;
}

ul#top_access li.login-dropdown .dropdown-menu a.forgot {
  color: var(--pink);
}

/* header end  */

.nav-tabs .nav-link {
  color: #767676;
}

.nav-tabs .category-title {
  background-color: var(--secondary);
  color: #fff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--pink);
}

.doctor-page #results {
  color: #fff;
  background: var(--pink);
}

.strip_list ul li a.btn {
  color: #fff;
  background: var(--secondary);
  border: 2px solid var(--secondary);
  cursor: pointer;
  padding: 7px 20px;
  display: inline-block;
  outline: none;
  font-size: 0.875rem;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.strip_list ul li a.btn:hover {
  color: var(--secondary);
  background: transparent;
}

.doctor-page .strip_list ul li:first-child {
  display: block;
}


.doctor-page .nav-tabs .nav-link.active {
  border: none;
  background-color: transparent;
}

.doctor-page .dropdown-toggle {
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #e1e8ed;
  height: 32px;
  color: var(--secondary);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.patient-detail-modal form label.service-for{
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  background-color: #fff;
}