:root {
    --bs-primary-rgb: 63, 64, 121;
    --bs-info-rgb: 16, 192, 255;
    --font-size: 10px;

    /* YOUR CUSTOM CSS */
    --primary-green: #74d1c6;
    --dark-blue: #3f4079;
    --pink-rgb: 231, 78, 132;
    --pink: #e74e84;
    --green: 116, 209, 198;
    --grey: #96a8b6;
    --white: #ffffff;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(194, 194, 194);
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--pink);
    border-radius: 2px;
}

.line-clamp {
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.select-city-item .img-wrap,
.profile-72x72 {
    width: 72px;
    height: 72px;
    flex-shrink: 0;
}

.select-city .search-bar {
    padding: 0 var(--bs-offcanvas-padding-x);
}

.select-city.offcanvas.offcanvas-bottom {
    height: 50vh;
}

.button-pink-fill {
    border: 1px solid var(--pink);
    background-color: rgba(var(--pink-rgb), 1);
    color: var(--white);
    transition: all 0.3s;
}

.button-pink-fill:hover,
.button-pink-fill:focus,
.btn.button-pink-fill:active {
    border: 1px solid var(--green);
    background-color: rgba(var(--green), 1);
    color: var(--white);
}

.button-pink-outline {
    border: 1px solid var(--pink);
    background-color: transparent;
    color: var(--pink);
    transition: all 0.3s;
}

.button-pink-outline:hover,
.button-pink-outline:focus,
.btn.button-pink-outline:active {
    border: 1px solid var(--green);
    background-color: rgba(var(--green), 1);
    color: var(--white);
}

.search-city-list li:not(:last-child) {
    margin-bottom: 10px;
}

.text-grey {
    color: var(--grey);
}

.text-pink {
    color: var(--pink)
}

body {
    background-color: #fefefe;
}

.fs-sm {
    font-size: 14px;
}

.fs-xs {
    font-size: 12px;
}

img {
    max-width: 100%;
    height: auto;
}

.container,
.container-fluid {
    padding: 0 12px;
}

a.btn {
    font-size: 16px;
}

.mob-card-img-wrap {
    height: 72px;
    width: 72px;
    flex-shrink: 0;
}

.doctor-info .reviews {
    font-size: 12px;
}

.doctor-info h4 {
    font-size: 16px;
}


.main-head h2 {
    font-size: 18px;
}

.specialized-item {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.specialized-item .img-wrap {
    width: 72px;
    height: 72px;
    margin: 0 auto;
    flex-shrink: 0;
}

.lab-test p {
    font-size: 18px;
    max-width: 80%;
}

.btn-primary {
    background: var(--dark-blue);
}

.health-item .img-wrap {
    flex: 0 0 115px;
    height: 85px;
}

.doctor-info.appointment .img-wrap {
    width: 52px;
    height: 52px;
}

.radio-wrapper label {
    display: block;
}

.radio-wrapper input[type='radio'] {
    display: none;
}

.radio-item {
    background: var(--white);
}

.radio-wrapper input[type='radio']:checked+.radio-item {
    background-color: var(--dark-blue);
    color: var(--white);
}

.faqs .nav.tabs-wrapper {
    overflow-x: auto;
}

.faqs .nav .nav-link {
    color: #000;
    font-weight: 600;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 4px 16px;
    text-wrap: nowrap;
}

.faqs .nav .nav-link.active {
    border: 1px solid var(--pink);
    background-color: var(--pink);
    color: var(--white);
}

.faqs .tab-content .accordion .accordion-header .accordion-button {
    color: var(--dark-blue);
    font-weight: 500;
}

.faqs .tab-content .accordion .accordion-header .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem var(--primary-green);
}

.faqs .tab-content .accordion .accordion-header .accordion-button:not(.collapsed) {
    background-color: #74d1c638;
}

.offcanvas.otp-verific-offcanvas {
    height: max-content;
}

.otp-verific-offcanvas .otp-inputs input {
    height: 40px;
    width: 40px;
}

.px-12-py-6 {
    padding: .375rem .75rem;
}

.my-account-offcanvas-mob.offcanvas {
    max-width: 85%;
}

.statement ul {
    padding-left: 16px;
}

.statement li {
    font-size: 14px;
}

.reviews .progress {
    flex: 0 0 130px;
    height: 5px;
}

.reviews .star-rating-icon {
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.comment .img-wrap {
    width: 32px;
    height: 32px;
}

.contact-btn .call-btn {
    flex: 0 0 100px;
}

/* Blog  */
.blogs-section .blog-wraper {
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    display: block;
}

.blogs-section .blog-wraper .blog-content-wrraper {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -15%);
    padding: 15px;
    padding-right: 50px;
}

.blogs-section .blog-wraper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    transition: all 0.6s;
}

.blogs-section .blog-wraper:hover img {
    transform: scale(1.03);
}

/* pagination  */
ul.pagination {
    flex-wrap: wrap;
}

ul.pagination .page-item .page-link {
    color: var(--dark-blue);
}

ul.pagination .page-item.active>.page-link,
.page-link.active {
    background: var(--pink);
    border-color: var(--pink);
    color: var(--white);
}

/* search list  */
.search-bar .typeahead.dropdown-menu li .dropdown-item {
    white-space: wrap;
    border-bottom: 1px solid #ddd;
}

.search-bar .typeahead.dropdown-menu li:last-child .dropdown-item {
    border-bottom: none;
}

/* compare form  */
.offcanvas.offcanvas-bottom.compare-offcanvas {
    /* height: 70vh; */
    height: min-content;
}

.offcanvas-header .offcanvas-header-badge {
    position: absolute;
    left: 10%;
    background-color: var(--dark-blue);
    padding: 10px 65px;
    bottom: 100%;
    clip-path: polygon(0% 100%, 10% 0%, 90% 0%, 100% 100%, 0% 100%);
    display: flex;
    align-items: center;
}

.offcanvas-header .offcanvas-header-badge .offcanvas-title {
    color: #ffffff;
}

.compare-card-wraper ul {
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    width: max-content;
    padding: 0;
    list-style-type: none;
}

.compare-card-wraper .compare-card {
    width: 100px;
    min-height: 100px;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compare-card-wraper .compare-card img.img-thumbnail {
    width: 80px;
    margin-bottom: 5px;
}

.compare-card-wraper .compare-card img.img-thumbnail.plus {
    width: 30px;
    margin-bottom: 5px;
}

.compare-card-wraper .compare-card label {
    text-align: center;
}

.compare-card-wraper .seprator-vs {
    position: relative;
    width: 1px;
    min-height: 100%;
    background-color: var(--dark-blue);
}

.compare-card-wraper .seprator-vs::before {
    content: "VS";
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    border: 1px solid var(--dark-blue);
    border-radius: 50%;
    z-index: 2;
    background: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
}

.slider-doctors .slick-dots,
.slider-clinics .slick-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    list-style-type: none;
}

.slider-doctors .slick-dots li,
.slider-clinics .slick-dots li {
    width: 14px;
    height: 14px;
    border: 1px solid var(--dark-blue);
    border-radius: 50%;
    background-color: var(--white);
}

.slider-doctors .slick-dots li.slick-active,
.slider-clinics .slick-dots li.slick-active {
    position: relative;
}
.slider-doctors .slick-dots li.slick-active::before,
.slider-clinics .slick-dots li.slick-active::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--pink);    
}

.slider-doctors .slick-dots li button,
.slider-clinics .slick-dots li button {
    display: none;
}